* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
}

.container {
  padding: 0 37px 0 37px;
}

nav {
  height: 50px;
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  color: #FFFFFF;
  text-decoration: none;
}
.menu .menu_item {
  border-right: 3px dotted black;
  padding-right: 38px;
}
.menu .menu_item:last-child {
  border-right: none;
}

.nav_wrap {
  margin: 0 auto;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 50px;
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader .subheader_official {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
  color: #FFFFFF;
  margin-top: 6px;
}
.subheader .subheader_call {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  color: #FFFFFF;
  margin-top: 19px;
}
.subheader .subheader_phone {
  display: block;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 8px;
  line-height: 12px;
  text-decoration: none;
}
.subheader .subheader_btn {
  width: 170px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  margin-top: 19px;
  border-radius: 4px;
}
.subheader .subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.label {
  display: block;
  text-align: center;
  width: 100px;
  font-size: 11px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 20px;
  background-color: black;
  padding: 5px;
}

.title {
  margin-top: 37px;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 21px;
}

.subtitle {
  margin-top: 19px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #222222;
}

.promo {
  min-height: 800px;
  background: url(../img/promo_background.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo .promo_header {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  line-height: 60px;
  margin: 0;
}
.promo .promo_subheader {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  padding: 0 8px;
  margin: 0;
  margin-top: 20px;
}
.promo .promo_descr {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 23px;
}
.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
.promo .promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.reason .reasons_wrap {
  margin-top: 55px;
}
.reason .reason_item {
  display: flex;
}
.reason .reason_img {
  display: flex;
  margin-right: 25px;
  width: 116px;
  height: 116px;
}
.reason .reason_title {
  margin-top: -20px;
  padding-bottom: 26px;
  width: 370px;
}
.reason .reason_heading {
  font-size: 17px;
  color: #1EACC7;
}
.reason .reason_text {
  font-size: 15px;
}

.mobile {
  margin-top: 62px;
  min-height: 867px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url("../img/mobile_item_1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/mobile_item_2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/mobile_item_3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/mobile_item_4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/mobile_item_5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/mobile_item_6.png") center center/cover no-repeat;
}
.mobile_item_subtitle {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
.mobile_item_plus {
  position: absolute;
  width: 26px;
  height: 26px;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%);
}

.car {
  min-height: 900px;
  background: url("../img/opportunity_bg.png") center center/cover no-repeat;
  padding: 54px 0 137px 0;
}
.car_img {
  display: block;
  margin: 0 auto;
  margin-top: 54px;
}
.car_descr {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
  color: #222222;
}
.car .label {
  background-color: white;
  color: black;
}
.car .title {
  color: white;
}
.car .subtitle {
  color: white;
  margin-top: 16px;
}

.require {
  padding: 65px 0 82px 0;
}
.require_block {
  margin: 33px 0px;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  color: #1CA8C3;
  font-size: 22px;
  font-weight: 400;
}
.require_list {
  list-style-type: none;
  padding-left: 50px;
  margin-top: 22px;
}
.require_list li {
  position: relative;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.require_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../img/blue_checkmark.png") center center/cover no-repeat;
}
.require_descr {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: #1CA8C3;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li::before {
  content: "";
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../img/red_checkmark.png") center center/cover no-repeat;
}

.world {
  position: relative;
  min-height: 716px;
  background: url("../img/world_map.png") center center/cover no-repeat;
  padding: 50px 0 50px 0;
}
.world .label {
  background-color: white;
  color: black;
}
.world .title {
  color: white;
}
.world .subtitle {
  color: white;
  margin-top: 16px;
}
.world .label {
  margin-top: 0;
}
.world_link {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  font-size: 15px;
  font-weight: 300;
  color: #1FBAD6;
  text-transform: uppercase;
  text-decoration: none;
}

.footer {
  min-height: 161px;
  position: relative;
}
.footer_pictures {
  position: absolute;
  left: 21px;
  top: 41px;
}
.footer_line {
  background-color: #1EACC7;
  width: 310px;
  height: 5px;
  margin: 0 auto;
  margin-top: 12px;
}
.footer_wrapper {
  margin-top: 33px;
  text-align: center;
}
.footer_wrapper .footer_link {
  margin-right: 46px;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #070716;
}
.footer_wrapper .footer_link:last-child {
  margin-right: 0;
}
.footer_lowwrapper {
  margin-top: 0px;
  text-align: center;
}
.footer_lowwrapper .footer_link {
  margin-right: 22px;
  font-size: 11px;
  font-weight: 300;
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
}
.footer_lowwrapper .footer_link:last-child {
  margin-right: 0;
}
.footer_language {
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #1FBAD6;
  margin-top: 8px;
}

@media (max-width: 1200px) {
  .menu .menu_item {
    padding-right: 20px;
  }
  .menu .menu_link {
    font-size: 10px;
  }
  .promo .promo_header {
    font-size: 50px;
  }
  .subheader .subheader_phone {
    font-size: 17px;
  }
  .mobile .mobile_item {
    width: 287px;
  }
}
@media (max-width: 991px) {
  .menu .menu_item {
    padding-right: 8px;
  }
  .menu .menu_link {
    font-size: 10px;
  }
  .subheader .subheader_logo img {
    width: 100%;
  }
  .subheader .subheader_official {
    font-size: 11px;
  }
  .subheader .subheader_phone {
    font-size: 12px;
  }
  .subheader .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%;
  }
  .promo .promo_header {
    font-size: 40px;
  }
  .promo .promo_subheader {
    font-size: 30px;
  }
  .title {
    font-size: 35px;
  }
  .reason .reason_item {
    flex-direction: column;
    align-items: center;
  }
  .reason .reason_title {
    margin-top: 20px;
  }
  .mobile .mobile_item {
    width: 195px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  .menu_active {
    left: 0;
  }
  .menu .menu_item {
    padding-right: 0;
    border: none;
    margin: 10px;
  }
  .menu .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%);
    width: 25px;
    height: 18px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 3px;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    transform: tranlsateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: tranlsateY(3px) 45deg;
  }
}/*# sourceMappingURL=style.css.map */