@media (max-width: 1200px){
    .menu{
        .menu_item{
            padding-right: 20px;
        }
        .menu_link{
            font-size: 10px;
        }
    }
    .promo{
        .promo_header{
            font-size: 50px;
        }
    }
    .subheader{
        .subheader_phone{
            font-size: 17px;
        }
    }

    .mobile{
        .mobile_item{
            width: 287px;
        }
    }
}

@media (max-width: 991px){
    .menu{
        .menu_item{
            padding-right: 8px;
        }
        .menu_link{
            font-size: 10px;
        }
    }
    .subheader{
        .subheader_logo{
            img{
                width: 100%;
            }
        }
        .subheader_official{
            font-size: 11px;
        }
        .subheader_phone{
            font-size: 12px;
        }
        .subheader_btn{
            margin-top: 21px;
            height: 40px;
            width: 100%;
        }
        
    }
    .promo{
        .promo_header{
            font-size: 40px;
        }
        .promo_subheader{
            font-size: 30px;
        }
    }
    .title{
        font-size: 35px;
    }
    .reason{
        .reason_item{
            flex-direction: column;
            align-items: center;
        }
        .reason_title{
            margin-top: 20px;
        }
    }
    .mobile{
        .mobile_item{
            width: 195px;
        }
    }
}

@media (max-width: 767px) {
    .menu{
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color:  rgba(0, 0, 0, .8);
        transition: 0.6s all;
        &_active{
            left: 0;
        }
        .menu_item{
            padding-right: 0;
            border: none;
            margin: 10px;
        }
        .menu_link{
            font-size: 20px;
        }
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(-50%);
        width: 25px;
        height: 18px;
        span{
            display: block;
            height: 2px;
            width: 100%;
            background-color: white;
            margin-bottom: 3px;
        }
        &_active{
            span{
                margin-bottom: -2px ;
                &:nth-child(1){
                    transform: tranlsateY(3px) rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: tranlsateY(3px) (45deg);
                }
            }
        }
    }
}