@mixin white_title{
	.label{
		background-color: white;
		color: black;
	}
	.title{
		color: white;
	}
	.subtitle{
		color: white;
		margin-top: 16px;
	}
}
@mixin btn_hover{
	&:hover{
		background-image: none;
		background-color: $blue_color;
	}
}